.container {
  height: 100%;
  text-align: center;

  textarea {
    width: 220px;
    height: 160px;
    padding: 10px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 2px;
    }
  }

  span {
    word-break: break-all;
  }
}